#check thead > tr > th[data-sort-key="source"], 
#check tbody > tr > td[data-cell-index="0"] {
    display: none !important;
}

#checkresults tr.markTestStep td{
    background-color: #ffc57a !important;
}

#checkresults tr.markTestStep.highlighted td{
    background-color: #CC9A61 !important;
}

#checkresults div.results-table thead > tr > th[data-sort-key="mark"],
#checkresults div.results-table thead > tr > th[data-sort-key="id"] {
    display: none !important;
}

#checkresults div.results-table tbody > tr > td.invisible-cell {
    display: none !important;
}