#tablePruefumfangFehler div.results-table thead > tr > th[data-sort-key="source"] {
    display: none !important;
}

#tablePruefumfangFehler div.results-table tbody > tr > td.invisible-cell {
    display: none !important;
}

#tablePruefschrittFehler div.results-table thead > tr > th[data-sort-key="source"] {
    display: none !important;
}

#tablePruefschrittFehler div.results-table tbody > tr > td.invisible-cell {
    display: none !important;
}

#tableEinzelFehler div.results-table thead > tr > th[data-sort-key="Fehlerbild_Fehlerklassen"] {
    display: none !important;
}

#tableEinzelFehler div.results-table tbody > tr > td.invisible-cell {
    display: none !important;
}

#tableReworkCat div.results-table thead > tr > th[data-sort-key="cluster_label"] {
    display: none !important;
}

#tableReworkCat div.results-table tbody > tr > td.invisible-cell {
    display: none !important;
}