#tbl_hist_4w .sorts {
    min-width: 16px;
}

#tbl_hist_4w .sorts > a {
    writing-mode: tb-rl;
	white-space: nowrap;
}

#tbl_hist_4w .sorts > a > i.icon-sorts {
    /*transform: rotate(45 deg);*/
    /*writing-mode: tb-lr;*/
    writing-mode: lr-tb;
    min-height: 16px;
    min-width: 11px;
    margin-top: 5px;
}