.panel-title > #hide_button {
    display: inline;
    position: absolute;
    right: 20px;
    padding: 3px;
    top: 6px;
}

#panel_histogramm .refresh-time-indicator.pull-right.splunk-view.splunk-timeindicator, 
#panel_soll_ist .refresh-time-indicator.pull-right.splunk-view.splunk-timeindicator, 
#panel_filt .refresh-time-indicator.pull-right.splunk-view.splunk-timeindicator, 
#panel_cp_cpk .refresh-time-indicator.pull-right.splunk-view.splunk-timeindicator {
    right: 70px;
}

#panel_histogramm .fieldset.splunk-view.editable.hide-label.hidden.empty,
#panel_soll_ist .fieldset.splunk-view.editable.hide-label.hidden.empty,  
#panel_filt .fieldset.splunk-view.editable.hide-label.hidden.empty,  
#panel_cp_cpk .fieldset.splunk-view.editable.hide-label.hidden.empty {
    display: none !important;
}

div[id^="cp_chart_"].splunk-view.chart, 
div[id^="cpk_chart_"].splunk-view.chart {
    width: 50%; 
    float: left;
}

div[class="chart_container"] {
}

#input_anmerkung_box,
#element4 {
    display: inline-block;
}

#input_anmerkung_box {
    margin-top: 30px;
}

#input_anmerkung {
    width: 672px;
}

#data_comp_table td.chassis_set_ok {
    background-color: #73A550;
    color: #FFFFFF;
    text-align: right;
}

#data_comp_table td.chassis_set_warn {
    background-color: #ffdf00;
    color: #000000;
    text-align: right;
}

#data_comp_table td.chassis_set_eing {
    background-color: #e80015;
    color: #FFFFFF;
    text-align: right;
}

#data_comp_table table th {
    white-space: normal;
}

#genData, 
.splunk-dashboard-controls > div > span > a.edit-btn,
.splunk-dashboard-controls > div > span > a.edit-export,
.splunk-dashboard-controls > div > span > a.edit-other {
    display: none;
}

.hiddenChart {
    display: none;
}

.icon i.ja {
    color: #73A550;
}
.icon i.nein {
    color: #e80015;
}